/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 550px
}

.navbar {
    background-color: #003b95;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

@keyframes fadeInX {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-inX {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeInY {
    from {
        opacity: 0;
        transform: translateY(-50px);/
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-inY {
    opacity: 0;
    animation: fadeInY 0.5s ease-in forwards;
}

body {
   -- background: #dfdfdf;
}

footer {
    background-color: #f1f1f1;
    padding: 30px 0;
    text-align: center;
}

.container-fluid {
    padding: 0;
    border-radius: 0.4rem;
    overflow: hidden;
}