
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.containerAccount {
    height: 500px;
    /*alto*/
    width: 450px;
    /*ancho*/
}

.animation {
    animation: slideIn 0.4s ease-out;
}

.transparente {
    background-color: rgba(0, 0, 0, 0.8);
}

.no-border,
.container-fluid,
.container-fluid {
    border: none !important;
    box-shadow: none !important;
}

.no-shadow-table {
    border-collapse: collapse;
    box-shadow: none !important;
}

.no-shadow-table td,
.no-shadow-table th {
    border: 1px solid #dee2e6;
    box-shadow: none !important;
}

.table {
    box-shadow: none !important;
}

.animation {
    animation: slideIn 0.4s ease-out;
}
