@model IEnumerable<Reservas.Models.Reserva>


@{
    ViewBag.Title = "Reservas (Admin)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-6 text-primary text-center mt-5">Reservas de usuario</h2>
<hr class="text-bg-primary mb-3 container">

<div class="container container-fluid d-flex justify-content-start">

    <div class="col-2 ms-3">
        <label for="selectUsuarios" class="form-label">Seleccione un usuario:</label>
        <select id="selectUsuarios" class="form-select shadow-sm border-0">
        </select>
    </div>

</div>


<div id="tablaReservas" class="mt-3 container">
    <!-- aqui se cargará la tabla de reservas (vista parcial) -->
</div>

@section Scripts {
    <script>
        $(document).ready(function () {


            function cargarUsuarios() {
                $.ajax({
                    url: '/Usuarios/GetUsuarios',
                    method: 'GET',
                    success: function (usuarios) {
                        let options = '<option value="ninguno">Ninguno</option>';
                        options += '<option value="todos">Todos</option>';
                        usuarios.forEach(usuario => {
                            options += `<option value="${usuario.UserName}">${usuario.UserName}</option>`;
                        });
                        $("#selectUsuarios").html(options);
                    },

                });
            }

            cargarUsuarios();

            $("#selectUsuarios").on("change", function () {
                let usuario = $(this).val();
                cargarReservas(usuario);
            });

            function cargarReservas(fetch) {
                console.log(fetch);
                $.ajax({
                    url: '/Reservas/ObtenerReservasPorUsuario',
                    method: 'GET',
                    data: { usuario: fetch },
                    success: function (html) {
                        $("#tablaReservas").html(html);
                    }
                });
            }
        });
    </script>
}
