@model IEnumerable<Reservas.Models.Reserva>

@{
    ViewBag.Title = "Reservas (Admin)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-6 text-primary">Reservas de usuario</h2>
<hr class="text-bg-primary">

<div class="container-fluid d-flex justify-content-start">

    <div class="col-3 ms-3">
        <label for="selectUsuarios" class="form-label">Seleccione un usuario:</label>
        <select id="selectUsuarios" class="form-select shadow-sm border-0">
        </select>
    </div>
</div>


<div id="tablaReservas" class="mt-3">
    <!-- aqui se cargará la tabla de reservas (vista parcial) -->
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            // Función para cargar usuarios en el dropdown

            function cargarUsuarios() {
                $.ajax({
                    url: '/Reservas/ObtenerUsuarios',//get users
                    method: 'GET',
                    success: function (usuarios) {
                        let options = '<option value="ninguno">Ninguno</option>';
                        options += '<option value="todos">Todos</option>';
                        usuarios.forEach(usuario => {
                            options += `<option value="${usuario.Nombre}">${usuario.Nombre}</option>`;
                        });
                        $("#selectUsuarios").html(options);
                    },
                    /*error: function () {
                        Swal.fire({
                            icon: "error",
                            text: "Error al cargar los usuarios.",
                        });
                    }*/
                });
            }

            cargarUsuarios();

            // Evento: cargar reservas según el usuario seleccionado
            $("#selectUsuarios").on("change", function () {
                let usuario = $(this).val();
                cargarReservas(usuario);
            });

            function cargarReservas(fetch) {
                console.log(fetch);
                $.ajax({
                    url: '/Reservas/ObtenerReservasPorUsuario',
                    method: 'GET',
                    data: { usuario: fetch },
                    success: function (html) {
                        $("#tablaReservas").html(html); // Renderizar la vista parcial
                    }
                });
            }
        });
    </script>
}
