
@{
    ViewBag.Title = "Reservar";
}

<div class="p-5 d-flex bg-white border rounded-3 pb-4 px-2 row align-items-center align-items-baseline shadow-sm border-0">

    <h2 class="display-6 text-primary mb-1 mt-1 text-center">Reservar sala</h2>
    <div class="container px-5"><hr class="text-bg-primary"></div>

    <div class="col ps-5">
        <h4 class="text-primary py-2">Rango de horas</h4>
        <div class="col-3 d-flex">
            <input type="time" class="form-control me-2" id="tiempoInicio" />
            <h3 class="">-</h3>
            <input type="time" class="form-control ms-2" id="tiempoCierre" />
        </div>
    </div>

    <div class="col px-5">
        <h4 class="text-primary py-3">Fecha</h4>
        <div class="col-4 d-flex">
            <input type="date" class="form-control me-2" id="fecha" value="" />
        </div>
    </div>

    <div class="col mt-3 pe-5">
        <span>
            <p class="text-body-secondary">Capacidad / Equipos: </p>
            <input type="text" class="form-control" placeholder="Filtrar..." name="filtro" id="filtro">
        </span>
    </div>

</div>

<table class="container table table-hover my-5 fade-inY table-borderless">
    <thead class="thead-primary">
        <tr>
            <th>Nombre de la Sala</th>
            <th>Capacidad</th>
            <th>Ubicación</th>
            <th>Disponibilidad de Equipos</th>
            <th>Hora de Apertura</th>
            <th>Hora de Cierre</th>
            <th>Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        <!-- listado por JS -->
    </tbody>
</table>



<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/Reserva.js"></script>
