

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<hr>

<!-- Contenido principal -->
<div class="container-fluid fade-inY">

    <!-- Graficos -->
    <div class="row mb-2">
        <div class="rounded-3 p-4 rounded shadow-sm mb-4 col col-8 me-3">
            <div id="barras" style="width:100%; height:400px;"></div>
        </div>

        <div class="rounded-3 p-4 rounded shadow-sm mb-4 col col-3">
            <div id="pastel" style="width:100%; height:100%;"></div>
        </div>
    </div>

    <div class="row mb-2">

        <div class="rounded-3 p-4 rounded shadow-sm mb-4 col ms-3">
            <div id="horas" style="width:100%; height:400px;"></div>
        </div>
    </div>
    <div class="rounded-3 p-4 rounded shadow-sm mb-4 col">
        <div id="main" style="width:100%; height:500px;"></div>
    </div>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.0/echarts.min.js"></script>
<script src="/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/moment.js"></script>

<script>


    $(document).ready(function () {

        $.ajax({
            url: '/Admin/GetData',
            method: 'GET',
            dataType: 'json',
            success: function (res) {

                // Convertir cada fecha con moment.js
                var formattedData = res.map(function (item) {
                    // Convertir la fecha de cada elemento
                    var formattedFecha = moment(item.ReservaFecha).format('YYYY-MM-DD');

                    // Devolver el item con la fecha convertida
                    return {
                        SalaNombre: item.SalaNombre,
                        Capacidad: item.Capacidad,
                        Ubicacion: item.Ubicacion,
                        DisponibilidadEquipo: item.DisponibilidadEquipo,
                        HoraApertura: item.HoraApertura,
                        HoraCierre: item.HoraCierre,
                        ReservaFecha: formattedFecha,
                        ReservaHoraInicio: item.ReservaHoraInicio,
                        ReservaHoraFin: item.ReservaHoraFin
                    };
                });

                graficoBarra(formattedData);

                graficoElipse(formattedData);

                graficoHoras(formattedData);

                graficoLineas(formattedData);

            }
        });

        function graficoBarra(data) {

            console.log(data)

            //-----------------------------------------

            // Contar el numero de reservas por sala
            var reservasPorSala = {};

            data.forEach(function (item) {
                //por cada sala que existe sumar 1 al contador
                if (reservasPorSala[item.SalaNombre]) {
                    reservasPorSala[item.SalaNombre]++;
                } else {
                    //primera lectura agregar 1 al contador como arranque
                    reservasPorSala[item.SalaNombre] = 1;
                }
            });

            // Preparar datos para el grafico
            var salas = Object.keys(reservasPorSala);  // Las salas (llaves del objeto)
            var reservasCount = Object.values(reservasPorSala);  // El conteo de reservas por cada sala (valores de cada llave)

            var option = {
                title: {
                    text: 'Contador de Reservas por Sala'
                },
                tooltip: {},
                legend: {
                    data: ['Reservas']
                },
                xAxis: {
                    type: 'category',
                    data: salas  // las salas en el eje x
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: 'Reservas',
                        type: 'bar',
                        data: reservasCount  // El conteo de reservas por cada sala
                    }
                ]
            };

            // Usar el gráfico de ECharts
            var chart = echarts.init(document.getElementById('barras'));
            chart.setOption(option);

            //---------------------------------

        }

        function graficoElipse(data) {

            //------------------

            const reservasPorSala = {};
            data.forEach(function (item) {
                if (reservasPorSala[item.SalaNombre]) {
                    reservasPorSala[item.SalaNombre]++;
                } else {
                    reservasPorSala[item.SalaNombre] = 1;
                }
            });

            const chartData = Object.keys(reservasPorSala).map(sala => ({
                name: sala,
                value: reservasPorSala[sala]
            }));

            const chart = echarts.init(document.getElementById('pastel'));

            const option = {
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    top: '5%',
                    left: 'center'
                },
                series: [
                    {
                        name: 'Uso de Salas',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2
                        },
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 20,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: chartData
                    }
                ]
            };

            // Renderizar el gráfico
            chart.setOption(option);

            //------------------

        }

        function graficoHoras(data) {

            //-------------------

            //Grafico de 0 a 23 horas
            // Objeto por hora (hora de inicio) porque es mas importante que el de Hora fin
            const reservasPorHora = Array(24).fill(0);

            data.forEach(item => {
                // extraer la hora de inicio de la reserva
                const horaInicio = item.ReservaHoraInicio.Hours;
                if (horaInicio >= 0 && horaInicio < 24) {
                    reservasPorHora[horaInicio]++;
                }
            });

            const chart = echarts.init(document.getElementById('horas'));
            const option = {
                title: {
                    text: 'Horas mas demandadas'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: Array.from({ length: 24 }, (_, i) => `${i}:00`), // horas de 00:00 a 23:00
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '(Hora de inicio)',
                        nameLocation: 'end'
                    }
                ],
                series: [
                    {
                        name: 'Hora',
                        type: 'bar',
                        barWidth: '60%',
                        data: reservasPorHora // datos
                    }
                ]
            };

            chart.setOption(option);
            //-------------------

        }

        function graficoLineas(data) {

            //-----------------
            const reservasPorSala = {};
            data.forEach(item => {
                const fecha = item.ReservaFecha;
                const sala = item.SalaNombre;

                if (!reservasPorSala[sala]) {
                    reservasPorSala[sala] = {};
                }
                reservasPorSala[sala][fecha] = (reservasPorSala[sala][fecha] || 0) + 1;
            });

            // Extraer las fechas unicas ordenadas
            const fechasUnicas = [...new Set(data.map(item => item.ReservaFecha))].sort();

            const datasetSource = [['Sala', ...fechasUnicas]];
            Object.keys(reservasPorSala).forEach(sala => {
                const fila = [sala];
                fechasUnicas.forEach(fecha => {
                    fila.push(reservasPorSala[sala][fecha] || 0);
                });
                datasetSource.push(fila);
            });

            const chart = echarts.init(document.getElementById('main'));

            // Opciones del grafico
            const option = {
                legend: {
                    top: 'bottom'
                },
                tooltip: {
                    trigger: 'axis',
                    showContent: true
                },
                dataset: {
                    source: datasetSource
                },
                xAxis: {
                    type: 'category',
                    name: 'Fecha',
                    nameLocation: 'middle',
                    nameGap: 30
                },
                yAxis: {
                    type: 'value',
                    name: 'Reservas',
                    nameLocation: 'middle',
                    nameGap: 50
                },
                grid: {
                    top: '10%',
                    left: '10%',
                    right: '10%',
                    bottom: '15%'
                },
                series: datasetSource.slice(1).map(() => ({
                    type: 'line',
                    smooth: true,
                    seriesLayoutBy: 'row',
                    emphasis: { focus: 'series' }
                }))
            };
            chart.setOption(option);

            //-----------------

        }

    });


</script>
